@page
@model MSBank.Pages.Customer.CustomerProfileModel
@{
}



<div class="container p-3">
    <div class="row pt-4">

        @foreach (var customer in Model.CustomerProfile)
        {
            <partial name="_CustomerProfileBox" model="@customer" />
        }
    </div>
    <br />

    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Givenname, Surname
                    </th>

                    <th>
                        Customer Id
                    </th>

                    <th>Gender</th>

                    <th>Address, City</th>
                  
                    <th>Zipcode,CountryCode</th>

                    <th>Personal Number</th>

                    <th>Birthday</th>

                    <th>Tel. country code</th>

                    <th>Email Address</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var customer in Model.CustomerProfile)
                {
                    <tr>
                        <td>
                            @customer.Givenname, @customer.Surname
                        </td>

                        <td>
                            @customer.CustomerId
                        </td>

                        <td>
                            @customer.Gender
                        </td>

                        <td>
                            @customer.Streetaddress,  @customer.City
                        </td>

                        <td>
                            @customer.Zipcode , @customer.CountryCode
                        </td>

                        <td>
                            @customer.NationalId
                        </td>

                        <td>
                            @customer.Birthday
                        </td>

                        <td>
                            @customer.Telephonecountrycode
                        </td>

                        <td>
                            @customer.Emailaddress
                        </td>
                    </tr>

                }
            </tbody>


        </table>
    </div>

    <div class="row pt-4">
        <div class="col-6">
            <h3 class="text-primary">Total Accounts Balance:@Model.TotalBalance</h3>
        </div>

    </div>
    <br />

    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Account</th>
                    <th scope="col">Balance</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model.CustomerProfile)
                {
                    <tr>
                        <td width="50%">@customer.AccountId</td>
                        <td width="50%">@customer.Balance</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
