@page
@model MSBank.Pages.Account.AccountInfoModel
@{
}



<div class="container p-3">
    <div class="row pt-4">

        @foreach (var customer in Model.CustomerProfile)
        {
            <partial name="_CustomerProfileBox" model="@customer" />
        }
    </div>
    <br />

    <div class="row pt-4">
        <div class="col-6">

            <h2 class="text-primary">Account Id:@Model.AccountId</h2>
            <h3 class="text-primary">Current Account Balance:@Model.AccountBalance</h3>
        </div>

    </div>
    <br />

    <div class="row form-horizontal">
        <div class="col-12">

            <div class="form-group row">
                <div class="col-8 offset-2 row">
                    <div class="col">
                        <a asp-page="Deposit" asp-route-accountId="@Model.AccountId">
                            Deposit
                            <i class='fas fa-arrow-circle-down'></i>
                        </a>
                    </div>
                    <div class="col">
                        <a asp-page="Withdraw" asp-route-accountId="@Model.AccountId">
                            Withdraw
                            <i class='fas fa-arrow-circle-up'></i>
                        </a>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container p-3">
    <table class="table" id="transactions-table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Balance</th>
            </tr>


        </thead>
        <tbody>
            @*   @foreach (var account in Model.CustomerTransactions)
                {
                <tr>
                <td>
                @account.TransactionId
                </td>
                <td>
                @account.Date
                </td>
                <td>
                @account.Type
                </td>
                <td>
                @account.Amount
                </td>
                <td>
                @account.Balance
                </td>

                </tr>
                }*@
        </tbody>

    </table>

    <a class="btn btn-info" href="javascript:fetchMore();">See more</a>

</div>

@section Scripts
{
<script>

        lastTicks = 0;
        function fetchMore() {
            fetch("AccountInfo?handler=FetchMore&lastTicks=" + lastTicks + "&accountId=@Model.AccountId")
                .then((response) => response.json())
                .then((json) => {
                        lastTicks = json.lastTicks;
                        json.items.forEach(tableElements);
                    }
                );
        }


        function tableElements(element) {
            document.querySelector('#transactions-table tbody').innerHTML +=
                `<tr>
        <td>${element.id}</td>
        <td>${element.date}</td>
        <td>${element.type}</td>
        <td>${element.amount}</td>
        <td>${element.balance}</td>

    </tr>`;
        }

        document.addEventListener("DOMContentLoaded", function () {
            fetchMore();
        });


</script>
}
